<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Stock</th>
      <th>price</th>
      <th>buy</th>
      <th>sell</th>
    </tr>
  </thead>
  <tbody>
    <% stocks.forEach(function(m) { %>
    <tr>
      <td><%= m.symbol %></td>
      <td><%= m.price %></td>
      <td><%= m.buy %></td>
      <td><%= m.sell %></td>
      <td><a href="/stocks/<%= m._id %>">DETAILS</a></td>

      <td>
        <form
          action="api/stocks/<%= m._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
