<%- include('../partials/header') %>
<h2>Stock Details</h2>
<tbody>
  <tr>
    <td>symbol:</td>
    <td><%= stock.symbol %></td>
    <br />
    <td>price:</td>
    <td><%= stock.price %></td>
    <br />
    <td>buy:</td>
    <td><%= stock.buy %></td>
    <td>
      <input type="text" method="PUT" />
    </td>
    <br />
    <td>sell:</td>
    <td><%= stock.sell %></td>
    <br />
    <td>
      <input type="submit" value="update" />
    </td>
  </tr>
</tbody>
