<%- include('../partials/header') %>
<h2>Stock Details</h2>
<section id="show-page">
  <div>ticker:</div>
  <div><%= stock.ticker %></div>
  <div>Price:</div>
  <div><%= stock.price %></div>
  <div>Buy:</div>
  <div><%= stock.buy %></div>
  <div>Sell:</div>
  <div><%= stock.sell %></div>
</section>
