<%- include('../partials/header') %>
<div class="container d-flex justify-content-center align-items-center h-50">
  <div class="card bg-dark text-white" style="width: 20rem">
    <div class="card-body">
      <h5 class="card-title">Edit Trade</h5>
      <form
        id="update-form"
        class="update-form"
        action="/traders/<%= correctStock._id %>/stocks/?_method=PUT"
        method="POST"
      >
        <input
          type="text"
          name="symbol"
          placeholder=" <%= correctStock.symbol%>"
          class="form-control mb-3"
          required
        />

        <input
          type="text"
          name="shares"
          placeholder=" <%= correctStock.shares %>"
          class="form-control mb-3"
          required
        />
        <input
          type="text"
          name="buy"
          placeholder="<%= correctStock.buy%>"
          class="form-control mb-3"
          required
        />
        <input
          type="text"
          name="sell"
          placeholder="<%= correctStock.sell %>"
          class="form-control mb-3"
          required
        />
        <input type="submit" value="Update" class="btn btn-info btn-md w-100" />
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
