<%- include('../partials/header') %>
<table class="table table-striped table-dark" id="list">
  <thead>
    <tr>
      <th>Stock</th>
      <th>price</th>
      <th>buy</th>
      <th>sell</th>
    </tr>
  </thead>

  <form id="update-form" class="update-form" action="/traders/<%= correctStock._id %>/stocks/?_method=PUT" method="POST">
  <tbody>
    <td>
      <%= correctStock.symbol%>
        <input type="text" name="symbol" placeholder="symbol" id="showInput"/>
    
    </td>
    <td>
      <%= correctStock.price %>
      <input type="text" name="price" placeholder="price" id="showInput"/>
    
    </td>
    <td>
      <%= correctStock.buy%>
      <input type="text" name="buy" placeholder="buy"id="showInput" />
    
    </td>
    <td>
      <%= correctStock.sell %>
      <input type="text" name="sell" placeholder="sell" id="showInput"/>
    
    </td>
  
    <td><input type="submit" value="Update" class="btn btn-primary btn-sm"/></td>

    </form>
    </td>
    </tr>


  </tbody>

  <%- include('../partials/footer') %>