<%- include('../partials/header') %>
<h2>Stock Details</h2>
<table class="table table-striped table-dark" id="list">
  <tbody>
    <tr>
      <td>symbol:</td>
      <td><%= stock.symbol %></td>
      <br />
      <td>price:</td>
      <td><%= stock.price %></td>
      <br />
      <td>buy:</td>
      <td><%= stock.buy %></td>
      <br />
      <td>sell:</td>
      <td><%= stock.sell %></td>
      <br />
    </tr>
  </tbody>
</table>
